body{

font-family: 'Poiret One';

background-image:url("http://3.bp.blogspot.com/-ejV7xTqvKlY/Uo0jSArZ7hI/AAAAAAAAkmI/6s_ygTHFdAE/s1600/SilkAndCotton_p289c.jpg");
color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000033;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display:inline;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

/* Change the link color to #004080 (lighter blue) on hover */
li a:hover {
    background-color: #004080;
}
